.btnMenu_open {
    display: block;
    background-image: url(../img/hamburgue.svg);
    background-repeat: no-repeat;
    background-position: 15px center;
    text-indent: -9999px;
    padding: 20px 15px;
   
}